<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="text/html; charset=UTF-8; width=device-width" />
    <title>人狼ゲーム</title>
    <script src="/ookami-man.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
