<h1 align="center">狼</h1>
<hr>

<div class="act-center">
<button class='button-CO pure-button'>CO</button>
</div>

<button class='chk-button pure-button'></button>

<ul class='user-list'>
  <li>
    list1
    <input type="radio">
    <input type="radio">
    <input type="radio">
  </li>
  <li>
    list2
    <input type="radio">
    <input type="radio">
    <input type="radio">
  </li>
  <li>
    list3
    <input type="radio">
    <input type="radio">
    <input type="radio">
  </li>
</ul>

<textarea id="" name="" cols="30" rows="10"></textarea>
