html
  height: 100%
  width: 100%
  overflow: hidden

body
  height: 100%
  width: 100%
  overflow: hidden
  background-color: rgb(27, 25, 25)
  color: white

.space
  padding-top: 50px

h1.title
  font-family: fantasy
  text-align: center
  font-size: 60px
